<input type="text" id="cep">
<button onclick="atualizar()">Chamar</button>
<br>
<br>
<div id="resposta">Resposta aqui</div>

<script type="text/javascript">
function atualizar(){
  var url="https://viacep.com.br/ws/"+document.getElementById("cep").value+"/xml/";
  xhttp = new XMLHttpRequest();
  xhttp.open("GET", url, true);
  xhttp.onreadystatechange = AJAX_Callback;
  xhttp.send();
}

function AJAX_Callback(){
  if(xhttp.readyState == 4 && xhttp.status == 200) {
  	var parser = new DOMParser();
  	var xmlDoc = parser.parseFromString(xhttp.responseText, "text/xml");
    var logradouro = xmlDoc.getElementsByTagName("logradouro");
    var bairro = xmlDoc.getElementsByTagName("bairro");
    var cidade = xmlDoc.getElementsByTagName("localidade");
    var uf = xmlDoc.getElementsByTagName("uf");
  	document.getElementById("resposta").innerHTML = 
    "Logradouro: " + logradouro[0].childNodes[0].nodeValue + 
    "<br>Bairro: " + bairro[0].childNodes[0].nodeValue +
    "<br>Cidade: " +cidade[0].childNodes[0].nodeValue +
    "<br>Estado: " + uf[0].childNodes[0].nodeValue;
  }
}
</script>