header {
	position: relative;
}

body {
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.sacola {
	position: absolute;
	top: 0;
	right: 0;
	background: url(../img/sacola.png) no-repeat top right;
	font-size: 14px;
	padding-top: 8px; 
	padding-right: 35px;
	text-align: right;
	width: 140px;
}

.menu-opcoes{
	position: absolute;
	bottom: 0;
	right: 0;
}

.menu-opcoes ul {
	font-size: 15px;
}

.menu-opcoes ul li {
	display: inline;
	margin-left: 20px;
}

.menu-opcoes a {
	color: #003366;
}

.container {
	margin: 0 auto;
	width: 940px;
}

.busca,
.menu-departamentos {
	background-color: #dcdcdc;
	font-weight: bold;
	text-transform: uppercase;

	margin-right: 10px;
	width:230px;
}