header {
	width: 100%;
	height: 150px;
	background-color: #5E299A; /*6B3DA1;*/	
}

header .container {
	position: relative;
}

header .header-black {
	background-color: #000;
	height: 40px;
}

header #logotipo {
	position: absolute;
	top: -15px;
}


/*
* {
	box-sizing: border-box;	
}

html, body {
	margin: 0;
	padding: 0;
}

nav {
	width: 100%;
	height: 100px;
	background: #999;
	position: absolute;
	bottom: 0;
}

section {
	width: 100%;
	height: 500px;
	background: #95a5a6;
}

footer {
	width: 100%;
	height: 200px;
	background: #1ba39c;
}